@using DevExpress.Web.Mvc.UI;
@using EveryAngle.Shared.Globalization;
@{
    ViewBag.Title = @Captions.Page_Dashboard_Title;
    Layout = "~/Views/Shared/Master.cshtml";
}

@section scripts
{
    @{
        @Styles.Render("~/content/css/widgets.css", "~/content/css/anglepage.css", "~/content/css/dashboardpage.css")

        if (!BundleTable.EnableOptimizations)
        {
            @Scripts.Render("~/bundles/dashboardpage.js")
        }
        else
        {
            <script>
                WC.Page.LoadDashboardPageScripts(
                    [
                        '@Scripts.Url("~/bundles/dashboardpage.js")'
                    ]
                );
            </script>
        }

        // DevExpress PivotGrid script
        Html.RenderAction("PivotGridScript", "Pivot");
    }
}

@section TopBar
{
    <div id="DashboardTopBar" class="topBarWrapper">
        <div>
            <div class="toggle-sidebar">
                <a class="disabled" id="ButtonToggleSidePanel">
                    <img src="~/Images/apps.svg" alt="" />
                </a>
            </div>
            @{Html.RenderPartial("~/Views/Shared/Top/Logo.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/Top/UserPanel.cshtml");}
        </div>
    </div>
}

<div class="content-wrapper" id="ContentWrapper">
    <div class="side-content">
        <div id="SectionInfo"></div>

        <div class="tab tab-full tab-details section section-details" id="TabDetails">
            <div class="tab-menu-wrapper">
                <div class="tab-menu tab-menu-dashboard">
                    @Resource.Dashboard
                    <a class="action btn-info"
                       data-role="tooltip"
                       data-tooltip-position="bottom"
                       data-tooltip-text="Info"
                       data-bind="visible: IsStatisticVisible(), click: ShowStatisticPopup, clickBubble: false" >
                        <i class="icon icon-info"></i>
                    </a>
                </div>
                <div class="tab-menu tab-menu-displays">
                    @Resource.DisplayDetails
                </div>
            </div>
            <div class="tab-content-wrapper">
                <div class="accordion tab-content tab-content-dashboard" id="TabContentDashboard"></div>
                <div class="accordion tab-content tab-content-displays" id="TabContentWidgets"></div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div id="DashboardField" class="detailsWrapper top">
            <div class="Wrapper">
                <nav class="form-row titleBar" aria-label="Primary">
                    <div class="form-col SideBar-Icon">
                        <a class="disabled" id="AngleSidePanelButton">
                            <img id="ButtonToggleSidePanel_img" src="~/Images/show-left-side-bar-fill.svg" alt="" />
                        </a>
                    </div>
                    <div class="form-col col-breadcrumb">
                        @{Html.RenderPartial("~/Views/Shared/Top/Breadcrumb.cshtml");}
                    </div>
                </nav>
                <nav class="form-row toolbar" aria-label="secondary">
                    <div class="col-break flex-break hidden"></div>

                    <div class="form-col col-breadcrumb">
                        @{Html.RenderPartial("~/Views/Shared/Top/Breadcrumb.cshtml");}
                    </div>
                    <div class="form-col col-action">
                        <div id="ActionSelect" class="compactMode">
                            <div class="visible-medium-viewport">
                                <div id="ActionDropdownListTablet"></div>
                            </div>
                            <div class="hide-medium-viewport">
                                <div id="ActionDropdownList" class="btnTools"></div>
                                <div class="k-window-titleless k-window-custom k-window-arrow-n popupAction popupActionAngle" id="ActionDropdownListPopup">
                                    <div class="k-window-content k-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-col col-saving" id="DashboardSavingWrapper"></div>
                    <div class="form-col col-states" id="DashboardStatesWrapper">
                        @{Html.RenderPartial("~/Views/Shared/Top/ItemState.cshtml");}
                    </div>
                </nav>
            </div>
        </div>

        <div id="dashboardContentWrapper" class="mainDisplayWrapper">
            <div id="dashboardWrapper"></div>
            <div id="widgetMaximizeWrapper"></div>
        </div>
    </div>
</div>