@using DevExpress.Web.Mvc.UI;
@using EveryAngle.Shared.Globalization;
@{
    ViewBag.Title = @Captions.Page_Dashboard_Title;
    Layout = "~/Views/Shared/Master.cshtml";
}

@section scripts
{
    @{
        @Styles.Render("~/content/css/widgets.css", "~/content/css/anglepage.css", "~/content/css/dashboardpage.css")

        if (!BundleTable.EnableOptimizations)
        {
            @Scripts.Render("~/bundles/dashboardpage.js")
        }
        else
        {
            <script>
                WC.Page.LoadDashboardPageScripts(
                    [
                        '@Scripts.Url("~/bundles/dashboardpage.js")'
                    ]
                );
            </script>
        }
        
        // DevExpress PivotGrid script
        Html.RenderAction("PivotGridScript", "Pivot");
    }
}

@section TopBar
{
    <div id="AngleTopBar" class="topBarWrapper">
        <div class="Wrapper Shadow">
            <a id="Logo" href="@Url.Action("SearchPage", "Search")">
                <img alt="" src="@Url.Content("~/images/master/ealogo.svg")" height="29" />
            </a>

            @{Html.RenderPartial("~/Views/Shared/Top/BusinessProcessBadge.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/Top/UserPanel.cshtml");}
        </div>
    </div>
}
@section UnderTopHeader 
{
    <div id="DashboardField" class="detailsWrapper top">
        <div class="Wrapper">
            <nav class="form-row toolbar">
                <div class="form-col col-breadcrumb">
                    @{Html.RenderPartial("~/Views/Shared/Top/Breadcrumb.cshtml");}
                </div>
                <div class="form-col col-action">
                    <div id="ActionSelect" class="compactMode">
                        <div class="visible-medium-viewport">
                            <div id="ActionDropdownListTablet"></div>
                        </div>
                        <div class="hide-medium-viewport">
                            <div id="ActionDropdownList" class="btnTools"></div>
                            <div class="k-window-titleless k-window-custom k-window-arrow-n popupAction popupActionAngle" id="ActionDropdownListPopup">
                                <div class="k-window-content k-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-col col-states" id="DashboardStatesWrapper">
                    @{Html.RenderPartial("~/Views/Shared/Top/ItemState.cshtml");}
                </div>
            </nav>
            <div id="DashboardName" class="angleInformation informationDetailPanel">
                <div data-bind="css: { 'SignType3': true }"></div>
                <div data-bind="css: { 'SignFavorite': Model.Data().user_specific.is_starred(), 'SignFavoriteDisable': !Model.Data().user_specific.is_starred(), disabled: !dashboardModel.Data().authorizations.update_user_specific }, click: $root.SetFavorite"></div>
                <span class="Name" onclick="dashboardDetailsHandler.ShowPopup()" data-bind="text: Model.Data().name(), attr: { title: Model.Data().name() }"></span>
                <div data-bind="css: { 'none': Model.Data().is_published(), 'SignPrivate': !Model.Data().is_published() }"></div>
                <div class="SignValidated" data-bind="visible: Model.Data().is_validated()" style="display: none"></div>
            </div>
            <span id="YourNote" data-bind="text: !dashboardModel.Data().user_specific.private_note() && dashboardModel.Data().authorizations.update_user_specific ? Localization.AddNote : Model.Data().user_specific.private_note(), css: { disabled: !dashboardModel.Data().authorizations.update_user_specific }"></span>
        </div>
    </div>
}

<div id="dashboardFilterWrapper" class="dashboardFilterWrapper" data-bind="css: { active: IsActive, open: IsOpen(), close: !IsOpen() }"></div>
<div id="dashboardContentWrapper" class="mainDisplayWrapper">
    <div id="dashboardWrapper"></div>
    <div id="widgetMaximizeWrapper"></div>
</div>