@using EveryAngle.Shared.Globalization
@{
    ViewBag.Title = @Captions.Page_Search_Title;
    Layout = "~/Views/Shared/Master.cshtml";
}
@section scripts
{
    @{
        @Styles.Render("~/content/css/widgets.css", "~/content/css/searchpage.css")

        if (!BundleTable.EnableOptimizations)
        {
        @Scripts.Render("~/bundles/searchpage.js")
        }
        else
        {
        <script>
                WC.Page.LoadSearchPageScripts(
                    [
                        '@Scripts.Url("~/bundles/searchpage.js")'
                    ]
                );
        </script>
        }
    }
}
@section TopBar
{
    <div id="TopBar" class="topBarWrapper">
        <div id="SearchPage_Sidebar">
            <div class="toggle-sidebar">
                <a class="disabled" id="ButtonToggleSidePanel">
                    <img src="~/Images/apps.svg" alt="" />
                </a>
            </div>
            @{Html.RenderPartial("~/Views/Shared/Top/Logo.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/Top/UserPanel.cshtml");}
        </div>
    </div>
}


<div id="MainContent" class="Wrapper content-wrapper">
    <div id="LeftMenu" class="hidden">
        <div class="left-menu-wrapper">
            <h2 class="SideBar-Title">Filter</h2>
            @{Html.RenderPartial("~/Views/Search/PartialViews/FacetFilters.cshtml"); }
        </div>
    </div>
    <div id="Content" class="main-content">
        <div id="TitelText">
            <div class="sectionWelcomeRow">
                <div class="SideBar-Icon">
                    <a class="disabled" id="SearchSidePanelButton">
                        <img id="ButtonToggleSidePanel_img" src="~/Images/show-left-side-bar-fill.svg" alt="" />
                    </a>
                </div>
                <div class="sectionWelcome sectionWelcomeLogo" hidden>
                    <img alt="@Resource.CompanyLogo" />
                    <span class="lastAccessLabel" data-bind="text: Data().last_logon"></span>
                </div>

                <div class="sectionWelcome sectionWelcomeDetail">
                    <div class="SearchPageHeader">@Resource.SearchPageHeadder</div>
                </div>
            </div>
        </div>
        <hr style=" margin-top: 0px; margin-bottom: 0px;" />

        <div id="SearchBar" class="searchbar" style="display: none;" data-bind="visible: true">

            
            <div class="Wrapper searchbar-primary">
                
                <form id="Search" class="searchBoxWrapper" autocomplete="off" onsubmit="return false">
                    <a id="ClearSearchButton" class="clearSearch alwaysHide" onclick="searchQueryModel.ClearAdvanceSearch();" data-tooltip-text="@Resource.ClearAdvancedFilters">
                        <i class="icon icon-close"></i>
                    </a>
                    <a id="SearchButton" onclick="searchPageHandler.ShowAdvancedFilters();" data-tooltip-text="@Resource.AdvancedFilters">
                        <i class="icon icon-caret-down"></i>
                    </a>
                    <input id="SearchInput" type="text" autocomplete="off" />
                    <div id="SearchTerm"></div>
                </form>



                <div id="CreateNewAngleButton">
                    @{Html.RenderPartial("~/Views/Search/PartialViews/CreateNewAngle.cshtml"); }
                </div>

                <div class="UploadDropdown btn">
                    <a id="UploadDrpdown" onclick="userSettingsView.ToggleMenuUpload();">
                        <img id="ButtonImage" src="~/Images/Icons/ic_more-2-fill.svg" alt="Upload icon"
                              data-role="tooltip" data-tooltip-position="down" data-tooltip-text="@Resource.MoreActions"
                              class="icon"/>
                    </a>
                </div>


            </div>
            <div class="Wrapper searchbar-secondary">
                @{Html.RenderPartial("~/Views/Search/PartialViews/SearchInfo.cshtml");}
            </div>
        </div>

        <div id="LandingPage">
           
            <div class="sectionWelcomeRow sectionWelcomeSecondRow">
                <div class="row">
                    <div class="col">
                        <div class="sectionWelcome sectionWelcomeDetail2">
                            <div class="header">
                                <strong>@Resource.WelcomeMessages</strong>
                            </div>
                            <div class="content">
                                <div data-bind="html: Data().newstext"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- ko stopBinding: true -->
                        <div class="sectionWelcome notificationsFeed">
                            <div class="header">
                            </div>
                            <div class="content">
                            </div>
                            <div class="footer">
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="col">
                        <div class="sectionWelcome sectionWelcomeMovie">
                            <div class="header">
                                <strong class="welcomeMovieTitle" data-bind="text: Captions.Label_Search_WelcomeMovieTitle"></strong>
                            </div>
                            <div class="content">
                                <div id="WelcomePlayer" class="welcomeMovie">@Resource.Message_NoMovieAvailable</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SearchResultList" data-bind="css: { 'displaysMode': searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.DISPLAYS, 'compactMode': searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.COMPACT }">
            <div id="ResultWrapper">
                <div id="InnerResultWrapper" class="InnerResultWrapper">
                </div>
            </div>
        </div>
    </div>

</div>
