@using EveryAngle.Shared.Globalization
@{
    ViewBag.Title = @Captions.Page_Search_Title;
    Layout = "~/Views/Shared/Master.cshtml";
}
@section scripts
{
    @{
        @Styles.Render("~/content/css/widgets.css", "~/content/css/searchpage.css")

        if (!BundleTable.EnableOptimizations)
        {
            @Scripts.Render("~/bundles/searchpage.js")
        }
        else
        {
            <script>
                WC.Page.LoadSearchPageScripts(
                    [
                        '@Scripts.Url("~/bundles/searchpage.js")'
                    ]
                );
            </script>
        }
    }
}
@section TopBar
{
    <div id="TopBar">
        <div class="Wrapper Shadow">
            <a id="Logo" href="@Url.Action("SearchPage", "Search")"><img alt="" src="@Url.Content("~/images/master/ealogo.svg")" width="175" height="29" /></a>
            @{Html.RenderPartial("~/Views/Shared/Menus/Top/UserPanel.cshtml");}
        </div>
    </div>
}

 
<div id="MainContent" class="Wrapper">
    <div id="LeftMenu">
         @{Html.RenderPartial("~/Views/Search/PartialViews/FacetFilters/FacetFilters.cshtml");}
    </div>
    <div id="Content">

        <div id="SearchBar">
            <div class="Wrapper">
                <div id="CreateNewAngleButtonWrapper" class="createNewAngleButtonWrapper alwaysHide">
                    <a id="CreateNewAngle" class="btn btnCreateNewAngle" onclick="createNewAngleViewManagementModel.CheckModelAvailable()">
                        <span data-bind="html: Captions.Button_CreateNewAngle + '<br/><i>' + Captions.Button_CreateNewAngle_NoModel + '</i>'"></span>
                    </a>
                    <a id="SelectModelCreateNewAngle" class="btn btnSelectModelCreateNewAngle" onclick="createNewAngleViewManagementModel.ToggleModelsList()"></a>
                    <div class="k-list-container k-popup k-group k-reset k-list-large-container popupSelectModelCreateNewAngle" id="PopupSelectModelCreateNewAngle">
                        <ul class="k-list k-reset"></ul>
                    </div>
                </div>

                <div id="Search" class="searchBoxWrapper">
                    <a id="ClearSearchButton" class="clearSearch alwaysHide" onclick="searchQueryModel.ClearAdvanceSearch();" data-tooltip-title="@Resource.ClearAdvancedFilters">
                        <i class="icon remove"></i>
                    </a>
                    <a id="SearchButton" onclick="searchPageHandler.ShowAdvancedFilters();" data-tooltip-title="@Resource.AdvancedFilters">
                        <i class="icon caret"></i>
                    </a>
                    <input id="SearchInput" type="text" />
                </div>

            <div id="ActionSelect" class="compactMode disabled">
                <div id="ActionDropdownList" class="btnTools"></div>
                <div class="k-window-titleless k-window-custom k-window-arrow-n popupAction popupActionSearch" id="ActionDropdownListPopup">
                    <div class="k-window-content k-content"></div>
                </div>
            </div>

                <div id="SearchResultView">
                    @{Html.RenderPartial("~/Views/Search/PartialViews/TotalSearchResult.cshtml");}
                </div>
            </div>
        </div>

        <div id="LandingPage">
            <div class="sectionWelcomeRow">
                <div class="sectionWelcome sectionWelcomeLogo">
                    <img alt="@Resource.CompanyLogo" />
                    <span class="lastAccessLabel" data-bind="text: Data().last_logon"></span>
                </div>

                <div class="sectionWelcome sectionWelcomeDetail1">
                    <div data-bind="html: Data().introductiontext"></div>
                </div>
            </div>
            <div class="sectionWelcomeRow">
                <div class="sectionWelcome sectionWelcomeDetail2">
                    <div data-bind="html: Data().newstext"></div>
                </div>
            </div>
            <div class="sectionWelcomeRow">
                <div class="sectionWelcome sectionWelcomeMovie">
                    <h3 class="welcomeMovieTitle" data-bind="text: Captions.Label_Search_WelcomeMovieTitle"></h3>
                    <div id="WelcomePlayer" class="welcomeMovie">@Resource.Message_NoMovieAvailable</div>
                </div>
            </div>
        </div>
        <div id="SearchResultList" data-bind="css: { 'displaysMode': searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.DISPLAYS, 'compactMode': searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.COMPACT }">
            <div class="SearchTotalContainer">
                <span data-bind="text: kendo.format(Localization.NumberSelectingItems + ', ', SelectedItems().length), visible: SelectedItems().length"></span>
                <span id="SearchTotal" data-bind="text: searchModel.GetTotalItems()">0</span>
                <span data-bind="text: Localization.Items">@Resource.Items</span>
            </div>
            <div id="SearchBreadcrumb"></div>
            <div id="ResultWrapper">
                <div id="InnerResultWrapper" class="InnerResultWrapper">
                </div>
            </div>
        </div>
    </div>

</div>
