@using EveryAngle.Shared.Globalization
@{
    ViewBag.Title = @Captions.Page_Search_Title;
    Layout = "~/Views/Shared/Master.cshtml";
}
@section scripts
{
    @{
        @Styles.Render("~/content/css/widgets.css", "~/content/css/searchpage.css")

        if (!BundleTable.EnableOptimizations)
        {
            @Scripts.Render("~/bundles/searchpage.js")
        }
        else
        {
            <script>
                WC.Page.LoadSearchPageScripts(
                    [
                        '@Scripts.Url("~/bundles/searchpage.js")'
                    ]
                );
            </script>
        }
    }
}
@section TopBar
{
    <div id="TopBar" class="topBarWrapper">
        <div @*class="Wrapper Shadow"*@>
            @{Html.RenderPartial("~/Views/Shared/Top/Logo.cshtml");}
            <a class="toggle-sidebar disabled" id="ButtonToggleSidePanel">
                <svg width="27" height="27" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="4" cy="4" r="2" fill="white"></circle>
                    <circle cx="4" cy="12" r="2" fill="white"></circle>
                    <circle cx="4" cy="20" r="2" fill="white"></circle>
                    <circle cx="4" cy="28" r="2" fill="white"></circle>
                    <circle cx="12" cy="4" r="2" fill="white"></circle>
                    <circle cx="12" cy="12" r="2" fill="white"></circle>
                    <circle cx="12" cy="20" r="2" fill="white"></circle>
                    <circle cx="12" cy="28" r="2" fill="white"></circle>
                    <circle cx="20" cy="4" r="2" fill="white"></circle>
                    <circle cx="20" cy="12" r="2" fill="white"></circle>
                    <circle cx="20" cy="20" r="2" fill="white"></circle>
                    <circle cx="20" cy="28" r="2" fill="white"></circle>
                    <circle cx="28" cy="4" r="2" fill="white"></circle>
                    <circle cx="28" cy="12" r="2" fill="white"></circle>
                    <circle cx="28" cy="20" r="2" fill="white"></circle>
                    <circle cx="28" cy="28" r="2" fill="white"></circle>
                </svg>
            </a>
            @{Html.RenderPartial("~/Views/Shared/Top/UserPanel.cshtml");}
        </div>
    </div>
}


<div id="MainContent" class="Wrapper content-wrapper">
    <div id="LeftMenu" class="hidden">
        <div class="left-menu-wrapper">
            @{Html.RenderPartial("~/Views/Search/PartialViews/CreateNewAngle.cshtml"); }
            @{Html.RenderPartial("~/Views/Search/PartialViews/FacetFilters.cshtml"); }
        </div>
    </div>
    <div id="Content" class="main-content">

        <div id="SearchBar" class="searchbar" style="display: none;" data-bind="visible: true">
            <div class="Wrapper searchbar-primary">
                <form id="Search" class="searchBoxWrapper" autocomplete="off" onsubmit="return false">
                    <a id="ClearSearchButton" class="clearSearch alwaysHide" onclick="searchQueryModel.ClearAdvanceSearch();" data-tooltip-text="@Resource.ClearAdvancedFilters">
                        <i class="icon icon-close"></i>
                    </a>
                    <a id="SearchButton" onclick="searchPageHandler.ShowAdvancedFilters();" data-tooltip-text="@Resource.AdvancedFilters">
                        <i class="icon icon-caret-down"></i>
                    </a>
                    <input id="SearchInput" type="text" autocomplete="off" />
                    <div id="SearchTerm"></div>
                </form>

                <div id="ActionSelect" class="compactMode disabled">
                    <div class="visible-medium-viewport">
                        <div id="ActionDropdownListTablet" class="large"></div>
                    </div>
                    <div class="hide-medium-viewport">
                        <div id="ActionDropdownList" class="btnTools"></div>
                        <div class="k-window-titleless k-window-custom k-window-arrow-n popupAction popupActionSearch" id="ActionDropdownListPopup">
                            <div class="k-window-content k-content"></div>
                        </div>
                    </div>
                </div>

                @{Html.RenderPartial("~/Views/Search/PartialViews/ViewModeSelector.cshtml");}
            </div>
            <div class="Wrapper searchbar-secondary">
                @{Html.RenderPartial("~/Views/Search/PartialViews/SearchInfo.cshtml");}
            </div>
        </div>

        <div id="LandingPage">
            <div class="sectionWelcomeRow">
                <div class="sectionWelcome sectionWelcomeLogo">
                    <img alt="@Resource.CompanyLogo" />
                    <span class="lastAccessLabel" data-bind="text: Data().last_logon"></span>
                </div>

                <div class="sectionWelcome sectionWelcomeDetail1">
                    <div class="content" data-bind="html: Data().introductiontext"></div>
                </div>
            </div>
            <div class="sectionWelcomeRow sectionWelcomeSecondRow">
                <div class="row">
                    <div class="col">
                        <div class="sectionWelcome sectionWelcomeDetail2">
                            <div class="header">
                                <strong>@Resource.WelcomeMessages</strong>
                            </div>
                            <div class="content">
                                <div data-bind="html: Data().newstext"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- ko stopBinding: true -->
                        <div class="sectionWelcome notificationsFeed">
                            <div class="header">
                            </div>
                            <div class="content">
                            </div>
                            <div class="footer">
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="col">
                        <div class="sectionWelcome sectionWelcomeMovie">
                            <div class="header">
                                <strong class="welcomeMovieTitle" data-bind="text: Captions.Label_Search_WelcomeMovieTitle"></strong>
                            </div>
                            <div class="content">
                                <div id="WelcomePlayer" class="welcomeMovie">@Resource.Message_NoMovieAvailable</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SearchResultList" data-bind="css: { 'displaysMode': searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.DISPLAYS, 'compactMode': searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.COMPACT }">
            <div id="ResultWrapper">
                <div id="InnerResultWrapper" class="InnerResultWrapper">
                </div>
            </div>
        </div>
    </div>

</div>
