@model EveryAngle.Core.ViewModels.Model.ModelServerSettings
@using EveryAngle.Shared.Globalization
@using EveryAngle.Core.ViewModels.Model

@if (Model.SettingList.Any(x => x.Id == "preferred_storage"))
{
    var preferrredStorage = (string)@Model.SettingList.FirstOrDefault(x => x.Id == "preferred_storage").Value;
    var settingId = "connection_folder";
    if (preferrredStorage == "networkdrive")
        settingId = "network_drive_unc_path";
    else if (preferrredStorage == "awss3")
        settingId = "cloud_storage_upload_folder";
    Setting setting = @Model.SettingList.FirstOrDefault(x => x.Id == settingId);

    <div class="connection_settings contentSectionInfoItem" id="CheckOutputFolder">
        <h5 style="font-size: 14px">@Model.SettingsGroup.FirstOrDefault().Name</h5>
        <div class="contentSectionInfoItem" id="row-@Resource.MC_DatastoreFolder.Replace(" ",string.Empty)">
            <label data-role="tooltip">@Resource.MC_DatastoreFolder</label>
            <p>
                @(Html.TextBox(@setting.Id + "_intial", @setting.Value, new { @class = "text autosyncinput", @data_setting_type = "text", @data_type = "textbox",@readonly= "readonly" }))
                <a data-target="#popupDescriptionTemplate" title="Description" data-width="600" data-min-height="100" data-role="mcPopup" class="btn btnInfo" onclick='MC.util.showDescriptionPopup(this)'></a>
                <textarea class="alwaysHidden"><pre>@Resource.MC_DatastoreFolderDescription</pre></textarea>
            </p>
        </div>
        <div class="contentSectionInfoItem" id="row-@Resource.MC_ActionSubfolder.Replace(" ",string.Empty)">
            <label data-role="tooltip">@Resource.MC_ActionSubfolder</label>
            <p>
                @(Html.TextBox("action_subfolder", "", new { @class = "text autosyncinput", @data_setting_type = "text", @data_type = "textbox", @onkeyup = "MC.AutomationTasks.Tasks.UpdateOutputFolder(this)" }))
                <a data-target="#popupDescriptionTemplate" title="Description" data-width="600" data-min-height="100" data-role="mcPopup" class="btn btnInfo" onclick='MC.util.showDescriptionPopup(this)'></a>
                <textarea class="alwaysHidden"><pre>@Resource.MC_ActionSubfolderDescription</pre></textarea>
            </p>
        </div>
        <div class="contentSectionInfoItem connection_folder" id="row-connection_folder">
            <label data-role="tooltip">@setting.Name</label>
            <p>
                @(Html.TextBox(@setting.Id + "_Output_Folder", @setting.Value, new { @class = "text autosyncinput", @data_setting_type = "text", @data_type = "textbox",@readonly= "readonly" }))
                <a data-target="#popupDescriptionTemplate" title="Description" data-width="600" data-min-height="100" data-role="mcPopup" class="btn btnInfo" onclick='MC.util.showDescriptionPopup(this)'></a>
                <textarea class="alwaysHidden"><pre>@Resource.MC_OutputFolderDescription</pre></textarea>
            </p>
            @foreach (Setting hiddenSetting in Model.SettingList)
            {
                @Html.Hidden(hiddenSetting.Id, hiddenSetting.Value);
            }
        </div>
        @Html.Hidden("settingId", setting.Id)

        <div class="contentSectionInfoItem" id="row-test-connection">
            <label>&nbsp;</label>
            <p>
                <a id="btnTestConnection" class="btn btnPrimary" onclick="MC.AutomationTasks.Tasks.TestConnection()">@Resource.MC_TestConnection</a><br />
                <span class="statusInfo"></span>
            </p>
        </div>
        <hr class="last" />
    </div>
}
