<form id="LoginForm" method="post" action="@ViewBag.PostAction">
    <div id="LoginContainer">
        <h1>@EveryAngle.Shared.Globalization.Resource.Login</h1>
        <input id="UserName" name="wc_username" class="UserName" type="text" value="" tabindex="1" placeholder="@EveryAngle.Shared.Globalization.Resource.Username" />
        <input id="Password" name="wc_password" class="Password" type="password" value="" tabindex="2" placeholder="@EveryAngle.Shared.Globalization.Resource.Password" />
        
        <div class="ChangePaswordSection ChangePassword">
            <input id="oldPassword" name="wc_oldPassword" class="Password oldPassword" type="password" tabindex="2" placeholder="@EveryAngle.Shared.Globalization.Resource.OldPassword" />
            <input id="newPassword" name="wc_newPassword" class="Password newPassword" type="password" tabindex="3" placeholder="@EveryAngle.Shared.Globalization.Resource.NewPassword" />
            <input id="ComparedPassword" name="wc_newComparedPassword" class="Password ComparedPassword" type="password" tabindex="4" placeholder="@EveryAngle.Shared.Globalization.Resource.ConfirmPassword" />
            <input id="ChangePasswordButton" class="btn btnPrimary" type="button" value="@EveryAngle.Shared.Globalization.Resource.ChangePassword"  tabindex="5" />
            <a id="CancelButtonPassword">@EveryAngle.Shared.Globalization.Resource.Cancel</a>
        </div>

        <input id="UserIp" name="wc_ip" type="hidden" value="@EveryAngle.Shared.EmbeddedViews.Util.GetIPAddress()" />
        <div class="LogoContainer">
            <div class="Logo LogoImage"></div>
        </div>
        <input id="LoginButton" class="btn btnPrimary" type="button" value="@EveryAngle.Shared.Globalization.Resource.Login" tabindex="3" />

        <a id="CancelButton" style="display: none;">@EveryAngle.Shared.Globalization.Resource.Cancel</a>
        <div class="loginLoading"></div>

        <div id="ErrorMessage" class="loginMessage"></div>
        <div class="SessonExpiredDetail"></div>
        <span id="VersionInfoLogin" class="VersionInfo">@ViewBag.FileVersion</span>



    </div>
</form>
