@model EveryAngle.Core.ViewModels.ModelServer.ModelServerViewModel
@using EveryAngle.Shared.Globalization
@using EveryAngle.WebClient.Domain.Enums

<div id="ModelServerInfoData" data-callback='{ "id": "@Model.id", "uri": "@ViewBag.ModelServerUri", "status": "@Model.status" }'>
    @if (Model.Status == ModelServerStatus.Down)
    {
        <p>@Model.id is @Resource.Down</p>
        if (ViewBag.ModelServerUri != null && ViewBag.IsCurrentInstance != null)
        {
            <a class="btn btnPrimary btnRetry">Retry</a>
        }
    }
    else
    {
        <div class="contentSection contentSectionInfo contentSectionInfoModelServer">
            @if (ViewBag.IsCurrentInstance != null && @Convert.ToBoolean(ViewBag.IsCurrentInstance))
            {
            <h2 class="currentInstance">@Model.id</h2>
            }
            else
            {
            <h2>@Model.id</h2>
            }
        
            <div class="contentSectionInfoItem">
                <label>@Resource.Version</label>
                <p>@if(Model.application_version != null) { @Model.application_version } api @if (Model.api_version != null) { @Model.api_version } </p>
            </div>
            <div class="contentSectionInfoItem">
                <label>@Resource.Status</label>
                <p>@if (Model.status != null) { @Model.status } <span id="status_timestamp">@if (Model.status != null) { @Model.timestamp }</span></p>
            </div>
            @if (Model.SupportModelDate)
            {
            <div class="contentSectionInfoItem">
                <label>@Resource.ModelTimestamp</label>
                <p><span id="modeldata_timestamp">@if (Model.modeldata_timestamp != null) { @Model.modeldata_timestamp }</span></p>
            </div>
            }
            <div class="contentSectionInfoItem">
                <label>@Resource.ServerStarted</label>
                <p><span id="server_started">@if (ViewBag.ModelInstance != null) { @ViewBag.ModelInstance }</span></p>
            </div>

            <div class="contentSectionInfoItem">
                <label>@Resource.MetadataAvaillable</label>
                <p>
                    <label>
                        @if (Model.metadata_available != null) { <input type="checkbox" checked="@Model.metadata_available" disabled="disabled" /> } <span class="label"> </span></label>
                </p>
            </div>

            <div class="contentSectionInfoItem">
                <label>@Resource.ReadyForQueries</label>
                <p>
                    <label>
                        @if (Model.queryable != null) { <input type="checkbox" checked="@Model.queryable" disabled="disabled" />}<span class="label"></span></label>
                </p>
            </div>

            @if (Model.SupportModelSize)
            {
            <div class="contentSectionInfoItem">
                <label>@Resource.MC_ModelSize</label>
                <p>@Model.FormattedSize</p>
            </div>
            }

            <div class="contentSectionInfoItem">
                <label>@Resource.MC_Errors</label>
                <p>@if (Model.error_count != null)
                   {@Model.error_count}</p>
            </div>

            <div class="contentSectionInfoItem">
                <label>@Resource.Warnings</label>
                <p>@if (Model.warning_count != null)
                   {@Model.warning_count}</p>
            </div>
        
            <div class="contentSectionInfoItem">
                <label>@Resource.Status @Resource.Details</label>
            </div>
        
            <div class="contentSectionInfoItem">
            @if (ViewBag.TaskDetails != null)
            {
                @(Html.Kendo().TreeView()
                    .Name("treeview")
                    .ExpandAll(true)
                    .BindTo((List<TreeViewItemModel>)ViewBag.TaskDetails));
            }
            </div>

            <div class="contentSectionInfoItem">
                <label>@Resource.InstanceId</label>
                <p>@if (Model.instance_id != null)
                   { @Model.instance_id } </p>
            </div>

            <div class="contentSectionInfoItem">
                <label>@Resource.LicenseId</label>
                <p>@if (Model.license_id != null)
                   { @Model.license_id } </p>
            </div>
        </div>
    }
</div>

<input id="ModelServerUri" type="hidden" value="@ViewBag.ModelServerUri" />