@using DevExpress.Web.Mvc.UI;
@using EveryAngle.Shared.Globalization;
@{
    ViewBag.Title = Captions.Page_Angle_Title;
    Layout = "~/Views/Shared/Master.cshtml";
}

@section scripts
{
    @{
        @Styles.Render("~/content/css/widgets.css", "~/content/css/anglepage.css")
        if (!BundleTable.EnableOptimizations)
        {
            @Scripts.Render("~/bundles/anglepage.js")
            <script src='@Scripts.Url("~/bundles/contextmenu")' type="text/javascript" async></script>
        }
        else
        {
            <script>
                WC.Page.LoadAnglePageScripts(
                    [
                        '@Scripts.Url("~/bundles/contextmenu")',
                        '@Scripts.Url("~/bundles/anglepage.js")'
                    ]
                );
            </script>
        }

        // DevExpress PivotGrid script
        Html.RenderAction("PivotGridScript", "Pivot");
    }
}

@section TopBar
{
    <div id="AngleTopBar" class="topBarWrapper">
        <div class="Wrapper Shadow">
            <a id="Logo" href="@Url.Action("SearchPage", "Search")">
                <img alt="" src="@Url.Content("~/images/master/ealogo.svg")" height="29" />
            </a>
            <a class="icon icon-hamburger toggle-sidebar disabled" id="ButtonToggleSidePanel"></a>

            @{Html.RenderPartial("~/Views/Shared/Top/BusinessProcessBadge.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/Top/UserPanel.cshtml");}
        </div>
    </div>
}

<div class="content-wrapper" id="ContentWrapper">
    <div class="side-content">
        <div id="SectionInfo"></div>

        <div class="tab tab-full tab-details section section-details" id="TabDetails">
            <div class="tab-menu-wrapper">
                <div class="tab-menu tab-menu-angle">
                    @Resource.Angle
                    <a class="action btn-info"
                       data-role="tooltip"
                       data-tooltip-position="bottom"
                       data-tooltip-text="@Resource.Info"
                       data-bind="visible: IsStatisticVisible(), click: ShowStatisticPopup, clickBubble: false">
                        <i class="icon icon-info"></i>
                    </a>
                </div>
                <div class="tab-menu tab-menu-display">
                    @Resource.DisplayDetails
                    <a class="action btn-info"
                       data-role="tooltip"
                       data-tooltip-position="bottom"
                       data-tooltip-text="@Resource.Info"
                       data-bind="visible: !IsAdhoc(), click: ShowStatisticPopup, clickBubble: false">
                        <i class="icon icon-info"></i>
                    </a>
                </div>
            </div>
            <div class="tab-content-wrapper">
                <div class="accordion tab-content tab-content-angle" id="TabContentAngle"></div>
                <div class="accordion tab-content tab-content-display" id="TabContentDisplay"></div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div id="AngleField" class="detailsWrapper top">
            <div class="Wrapper">
                <nav class="form-row toolbar">
                    <div class="col-break flex-break hidden"></div>

                    <div class="form-col col-breadcrumb">
                        @{Html.RenderPartial("~/Views/Shared/Top/Breadcrumb.cshtml");}
                    </div>

                    <div class="form-col col-action">
                        <div id="ActionSelect" class="compactMode">
                            <div class="visible-medium-viewport">
                                <div id="ActionDropdownListTablet"></div>
                            </div>
                            <div class="hide-medium-viewport">
                                <div id="ActionDropdownList" class="btnTools"></div>
                                <div class="k-window-titleless k-window-custom k-window-arrow-n popupAction popupActionAngle" id="ActionDropdownListPopup">
                                    <div class="k-window-content k-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-col col-saving" id="AngleSavingWrapper"></div>

                    <div class="form-col col-states" id="AngleStatesWrapper">
                        @{Html.RenderPartial("~/Views/Shared/Top/ItemState.cshtml");}
                    </div>
                </nav>
                <div class="form-row tab display-tab" id="DisplayTabs" data-bind="css: { 'active': CanSwitchDisplay  }, visible: true" style="display: none">
                    <div class="tab-menu-wrapper" data-bind="foreach: { data: Displays, as: 'display' }">
                        <div class="tab-menu" data-bind="css: { active: IsSelected }, click: $root.SwitchDisplay, attr: { 'data-title': Name }">
                            <div class="seperator"></div>
                            <div class="displayNameContainer small">
                                <div class="front">
                                    <i data-bind="attr: { 'class': 'display-icon icon ' + DisplayTypeClassName + ' ' + ExtendDisplayTypeClassName }"></i>
                                </div>
                                <span class="name textEllipsis" data-bind="text: Name, attr: { 'data-tooltip-text': Name }" data-role="tooltip" data-tooltip-position="bottom" data-showwhenneed="true"></span>
                                <div class="rear">
                                    <i class="icon" data-bind="attr: { 'class': 'icon ' + PublicClassName }"></i>
                                    <i class="icon" data-bind="attr: { 'class': 'icon ' + ValidClassName }"></i>
                                    <i class="icon" data-bind="attr: { 'class': 'icon ' + FilterClassName }"></i>
                                    <i class="icon" data-bind="attr: { 'class': 'icon ' + ParameterizedClassName }"></i>
                                    <i class="icon" data-bind="attr: { 'class': 'icon ' + UnSavedClassName }"></i>
                                    <!-- ko if: IsSelected -->
                                    <i class="icon icon-pencil btn-edit-description" data-bind="click: $root.ShowEditDescriptionPopup, attr: { 'data-tooltip-text': Localization.Edit }" data-role="tooltip" data-tooltip-position="bottom"></i>
                                    <!-- /ko -->
                                    <i class="icon icon-close" data-bind="click: $root.DeleteDisplay, clickBubble: false, css: { disabled: !IsNewAdhoc && !CanDelete }, attr: { 'data-tooltip-text': Localization.Delete }" data-role="tooltip" data-tooltip-position="bottom"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ko if: CanCreateNewDisplay() -->
                    <div class="add-display-wrapper">
                        <a id="BtnNewDisplay" class="btn btn-new-display" 
                           data-role="tooltip" data-tooltip-position="bottom" data-tooltip-text="@Resource.CreateNewDisplay"
                           data-bind="click: ShowNewDisplay">
                            <i class="icon icon-plus"></i>
                        </a>
                        <div id="NewDisplay" class="new-display-popup"></div>
                    </div>
                    <!-- /ko -->
                    <div class="right-btn-wrapper">
                        <a id="BtnScrollLeft" 
                           data-role="tooltip" data-tooltip-position="bottom" data-tooltip-text="@Resource.ScrollLeft"
                           class="btn btn-chevron" data-bind="click: MoveLeft">
                            <i class="icon icon-chevron-left"></i>
                        </a>
                        <a id="BtnScrollRight" class="btn btn-chevron" 
                           data-role="tooltip" data-tooltip-position="bottom" data-tooltip-text="@Resource.ScrollRight"
                           data-bind="click: MoveRight">
                            <i class="icon icon-chevron-right"></i>
                        </a>
                        <a id="BtnDisplayOverview" class="btn btn-display-badge" 
                           data-role="tooltip" data-tooltip-position="bottom" data-tooltip-text="@Resource.DisplayOverview"
                           data-bind="click: Show">
                            <i class="icon icon-displays"></i>
                            <span class="badge" data-bind="text: Displays().length"></span>
                        </a>
                        <div id="DisplayOverview" class="display-overview-popup"></div>
                    </div>
                </div>
                <div class="form-row display-option-wrapper" id="DisplayOption" data-bind="visible: true" style="display: none">
                    <div class="display-option">
                        <label data-bind="attr: { 'data-tooltip-text': IsVisibleKeepFilter() ? '' : Localization.NoDisplayFiltersActive }" data-role="tooltip" data-tooltip-position="bottom">
                            <input id="KeepFilter" type="checkbox" data-bind="enable: IsVisibleKeepFilter, checked: KeepFilter" />
                            <span class="label" data-bind="text: Localization.DisplayDropdownListKeepFilter"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="AngleTableWrapper" class="mainDisplayWrapper">
            <div id="AngleGrid"></div>
        </div>
    </div>
</div>