@using DevExpress.Web.Mvc.UI;
@using EveryAngle.Shared.Globalization;
@{
    ViewBag.Title = Captions.Page_Angle_Title;
    Layout = "~/Views/Shared/Master.cshtml";
}

@section scripts
{
    @{       
        @Styles.Render("~/content/css/widgets.css", "~/content/css/anglepage.css")
        if (!BundleTable.EnableOptimizations)
        {
            @Scripts.Render("~/bundles/anglepage.js")
            <script src='@Scripts.Url("~/bundles/contextmenu")' type="text/javascript" async></script>
        }
        else
        {
            <script>
                WC.Page.LoadAnglePageScripts(
                    [
                        '@Scripts.Url("~/bundles/contextmenu")',
                        '@Scripts.Url("~/bundles/anglepage.js")'
                    ]
                );
            </script>
        }

        // DevExpress PivotGrid script
        Html.RenderAction("PivotGridScript", "Pivot");
    }
}

@section TopBar
{
    <div id="AngleTopBar" class="topBarWrapper">
        <div class="Wrapper Shadow">
            <a id="Logo" href="@Url.Action("SearchPage", "Search")">
                <img alt="" src="@Url.Content("~/images/master/ealogo.svg")" height="29" width="175" /></a>
            <a id="BackToSearch" onclick="anglePageHandler.BackToSearch()">
                <img alt="" src="@Url.Content("~/images/angle/back2search.svg")"  height="27" width="27"/><span data-bind="text: Localization.BackToSearch">@Resource.BackToSearch</span></a>
@*            @{Html.RenderAction("UserPanel", "Menu");}*@
                @{Html.RenderPartial("~/Views/Shared/Menus/Top/UserPanel.cshtml");}
        </div>
    </div>
}
@section UnderTopHeader 
{
    <div id="AngleField" class="detailsWrapper top">
        <div class="Wrapper">
            <div id="AngleSetting">
                <div id="AngleName" class="angleInformation informationDetailPanel">
                    <div data-bind="css: { 'SignFavorite': IsStarred(), 'SignFavoriteDisable': !IsStarred(), disabled: Data() && !Data().authorizations.update_user_specific }, click: $root.SetFavoriteItem"></div>
                    <div data-bind="css: { 'SignPublic': IsPublished(), 'SignPrivate': !IsPublished() }"></div>
                    <div data-bind="css: { 'SignType2': IsTemplate(), 'SignType1': !IsTemplate() }"></div>

                    <span onclick="angleDetailPageHandler.ShowPopup()" class="Name" data-bind="text: Name, attr: { title: Name }"></span>
                    <div class="SignValidated" data-bind="visible: IsValidated" style="display: none"></div>
                </div>
                <!-- ko stopBinding: true -->
                <span id="ExecutionResults" class="executionResults" data-bind="html: $root.GetExecutionResultText(), attr: { title: $root.GetExecutionResultText(true) }"></span>
                <!-- /ko -->
                <div id="ActionSelect" class="compactMode">
                    <div id="ActionDropdownList" class="btnTools"></div>
                    <div class="k-window-titleless k-window-custom k-window-arrow-n popupAction popupActionAngle" id="ActionDropdownListPopup">
                        <div class="k-window-content k-content"></div>
                    </div>
                </div>
                <div id="SelectedDisplay" onclick="anglePageHandler.ShowOrHideDisplayList();">
                    @{Html.RenderPartial("~/Views/Angle/PartialViews/DisplayDropdownList/DisplayDropdownList.cshtml");}

                </div>
                <span id="YourNote" data-bind="text: !PrivateNote() && Data() && Data().authorizations.update_user_specific ? Localization.AddNote : PrivateNote, attr: { title: PrivateNote }, css: { disabled: Data() && !Data().authorizations.update_user_specific }"></span>
            </div>
            <div id="ToggleWrapper">
                <div class="DescriptionWrapper AngleDescriptionWrapper" id="AngleDescriptionWrapper"></div>
                <div class="DottedVertical"></div>
                <div class="DescriptionWrapper DisplayDescriptionWrapper" id="DisplayDescriptionWrapper"></div>
            </div>
            <div id="ToggleAngle" onclick="anglePageHandler.TogglePanel()">
                <span class="Expand"></span>
            </div>
        </div>
    </div>
}

<div id="AngleTableWrapper" class="mainDisplayWrapper">
    <div id="AngleGrid">
    </div>
</div>
