@model EveryAngle.Core.ViewModels.About.AboutViewModel
@using EveryAngle.Shared.Globalization
@{
    string webLanguage = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
    string copyRightUri = @Url.Action("Copyright", "SharedComponent").ToLower();
}

<div class="aboutContainer">
    <div class="aboutCommon">
        @Html.Raw(Resource.AboutEveryAngleDetails)
        <div class="copyRight">
            <a href="@Url.Content(copyRightUri)" target="_blank">
                @string.Format(Resource.CopyRight, DateTime.Today.Year)
                <i class="icon icon-link"></i>
            </a>
        </div>
    </div>
    <div class="aboutModels">        
        <div class="row">
            <div class="label">
                <h3>@Resource.AboutVersion</h3>
            </div>
                <div class="value">@Model.web_client_version</div>
            </div>
        <div class="row">
            @{
            if (ViewBag.CanAccess)
            {
                    <a href='@SiteMapHelper.ActionHash("GlobalSettings/Components")' id="details">@Resource.Details</a>
            }
            }
        </div>
        @if (Model.models.Count > 0)
        {
            <br />
            <h3>@Resource.AboutModelInfo</h3>
            foreach (var aboutModel in Model.models)
            {
                var model_defination = string.IsNullOrEmpty(aboutModel.model_definition_version) ? "" : string.Format("v{0}", @aboutModel.model_definition_version);
                <div class="row">
                    <div>@aboutModel.model_id :&emsp;&emsp; @aboutModel.status &emsp;&emsp;  @model_defination  &emsp;&emsp; @Html.Raw(PageHelper.GetModelTimestamp(aboutModel))</div>
                </div>
            }
        }
    </div>
</div>