@model EveryAngle.Core.ViewModels.About.AboutViewModel
@using EveryAngle.Shared.Globalization

<div class="aboutContainer">
    <div class="aboutCommon">@Html.Raw(string.Format(Resource.AboutEveryAngleDetails, DateTime.Today.Year))</div>
    <div class="aboutModels">
        <h3>@Resource.AboutVersion</h3>
        <div class="row">
            <div class="label">@Resource.AboutClientVersion</div>
            <div class="value">@Model.web_client_version</div>
        </div>
        <div class="row">
            <div class="label">@Resource.AboutServerVersion</div>
            <div class="value">@Model.app_server_version</div>
        </div>
        @foreach (var aboutModel in Model.models) {
            <div class="row">
                <div class="label">@aboutModel.model_id:</div>
                <div class="value">@aboutModel.version</div>
            </div>
        }
        @if (Model.models.Count > 0)
        {
            <br/>
            <h3>@Resource.AboutModelInfo</h3>
            foreach (var aboutModel in Model.models)
            {
                <div class="row">
                    <div class="label">@aboutModel.model_id:</div>
                    <div class="value">@Html.Raw(PageHelper.GetModelInfoStatus(aboutModel))</div>
                </div>
            }
        }
    </div>
</div>