@using EveryAngle.Shared.Globalization

<form action="@Url.Action("AddComment", "Comment")" data-role="validator" data-get-uri="@Url.Action("GetCommentsByType", "Comment")" enctype="multipart/form-data" id="CommentForm" method="post">
    <div class="contentSectionCommentForm">
        <h2>@Resource.MC_Comments</h2>
        <input type="hidden" id="commentType" name="commentType" value="@ViewBag.CommentType" />
        <div class="contentSectionCommentFormItem">
            <div class="field">
                <textarea id="CommentText" rows="3" name="message" class="required_comment_when_attachedfile" cols="20" maxlength="256" placeholder="@Resource.MC_CommentPlaceHolder"></textarea>
            </div>
        </div>
        <div class="contentSectionCommentFormItem">
            <a class="alwaysHidden" id="btnAddComment" data-url="" onclick="MC.ui.commentbox('add');" ></a>
        </div>
    </div>
</form>