@using EveryAngle.Shared.Globalization
@using EveryAngle.WebClient.Service.Security;
@{
    EveryAngle.Core.ViewModels.Users.UserViewModel user = AuthorizationHelper.Initialize().CurrentUser;
    string defaultLanguage = "en";
    string helpUri = string.Format("~/data/help/{0}/UUID-98342d97-6145-7db8-0ee3-8127c987c924.html", defaultLanguage);
    string supportUri = "https://magnitude.com/online-support/";
    var FileVersion = AssemblyInfoHelper.GetFileVersion();

    if (user != null)
    {
        string webClientUrl = "";

        if (AuthorizationHelper.Initialize().CurrentUser != null && AuthorizationHelper.Initialize().CurrentUser.ModelPrivileges != null)
        {
            var isPossibleToAccessWC = AuthorizationHelper.Initialize().UserProfile.ModelPrivileges.Where(filter => filter.Privileges.access_data_via_webclient.HasValue &&
                filter.Privileges.access_data_via_webclient.Value == true).FirstOrDefault();
            if (isPossibleToAccessWC != null)
            {
                webClientUrl = EveryAngle.Shared.Helpers.UtilitiesHelper.GetWebClientUrl(defaultLanguage + System.Configuration.ConfigurationManager.AppSettings["WebClientUrl"]);
            }
        }
        <div class="systemInfo" id="systemInfo">
            <span class="systemInfoLastLogin">
                @Resource.LastLogin <span data-role="localize">

                    @{
                        string lastAuthenticated = string.Empty;
                        if (user != null)
                        {
                            lastAuthenticated = user.Last_Logon.ToString();
                        }
                    }
                    @lastAuthenticated

                </span>
            </span><span class="systemInfoVersion">Version @FileVersion</span>
        </div>
        <div class="menuItem">
            <a id="NotificationsFeed" class="linkNotificationsFeed" href="javascript:void(0)">
            </a>
        </div>
        <div class="menuItem">
            <a id="HelpMenuControl" class="linkHelp" onclick="MC.topMenu.clickHelp();">
                <span class="icon helpIcon"></span>
            </a>
        </div>
        <div class="menuItem">
            <a id="UserMenuControl" class="linkUser" onclick="MC.topMenu.clickUser();">
                <span class="icon downArrow"></span>
                <span id="UserControlName" data-userid="@user.Id" class="textEllipsis">@user.Fullname</span>
            </a>
        </div>

        <div class="k-window-titleless k-window-custom k-window-arrow-n popupUserMenu" id="UserMenu" style="display: none;">
            <div class="k-window-content k-content">
                @if (!string.IsNullOrEmpty(webClientUrl))
                {
                    <a href="@webClientUrl.ToLower()" class="actionDropdownItem btnWC" target="_blank"><span>@Resource.OpenWebclient</span></a>
                }
                @if (AuthorizationHelper.Initialize().UserProfile.IsValidToManageModelingWorkbenchPrivilege())
                {
                    string workbenchUri = @Url.Content("~/Component/GoToModellingWorkbench");
                    <a id="btnWorkbench" href="@workbenchUri" class="actionDropdownItem btnWorkbench" target="_blank">
                        <span>@Resource.Workbench</span>
                    </a>
                }
                <form id="logoutForm" action="@Url.Content("~/Security/Logout")">
                    <a class="actionDropdownItem btnLogout" onclick="(function(){jQuery.localStorage.removeAll();jQuery('#logoutForm').submit();})()"><span>@Resource.Logout</span></a>
                </form>
            </div>
        </div>

        <div class="k-window-titleless k-window-custom k-window-arrow-n popupHelpMenu" id="HelpMenu" style="display: none;">
            <div class="k-window-content k-content">
                <a class="actionDropdownItem btnHelp" target="_blank" href="@Url.Content(helpUri)"><span>@EveryAngle.Shared.Globalization.Resource.Helppage</span></a>
                <a id="btnAbout" data-role="mcPopup" onclick="MC.util.showPopupAbout('@Url.Action("AboutInformation", "Home")');" data-title="@Resource.AboutEveryAngle" data-target="#popupAbout" data-scrollable="false" data-resizable="false" data-width="561" data-height="272" class="actionDropdownItem btnAbout">
                    <span>@Html.Raw(Resource.AboutEveryAngle)</span>
                </a>
                <a class="actionDropdownItem btnSupport" target="_blank" href="@Url.Content(supportUri)">
                    <span>@Html.Raw(Resource.Support)</span>
                </a>
                <div class="popup global" id="popupAbout"></div>
            </div>
        </div>

        <div class="k-window-titleless k-window-custom k-window-arrow-n popupNotificationsFeedMenu" id="NotificationsFeedMenu" style="display: none;">
            <div class="k-window-content k-content notificationsFeed">
                <div class="header">
                </div>
                <div class="content">
                </div>
                <div class="footer">
                </div>
            </div>
        </div>

    }
}
