@model EveryAngle.Core.ViewModels.Model.Setting

<label data-role="tooltip">@Model.Name</label>
<p>
@{
    @(Html.TextBox(Model.Id + ".inputfake", "", new { @class = "hidden" }));
    @(Html.Password(Model.Id + ".fake", "", new { @class = "hidden" }));
    @(Html.Password(Model.Id, Model.Value,new { @class="password autosyncinput", @data_setting_type = "text", @data_type = "textbox", autocomplete = Model.Id + "-off" }));
    
    if(Model.Description != null)
    {
        <a data-target="#popupDescriptionTemplate" title="Description" data-width="600" data-min-height="100" data-role="mcPopup" class="btn btnInfo" onclick='MC.util.showDescriptionPopup(this)'></a>
        <textarea class="alwaysHidden"><pre>@Model.Description</pre></textarea>
    }
}
</p>