<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/core_external", "~/resources/embedded/sharedjs", "~/bundles/core")
    </head>
    <body>
        @RenderBody()     
        @RenderSection("scripts", required: false)
    </body>
</html>