@using EveryAngle.ManagementConsole.Models
@using EveryAngle.ManagementConsole.Helpers
@using EveryAngle.Shared.Globalization
@model EveryAngle.Core.ViewModels.SystemSettings.WebClientSettingViewModel

@{
    List<PageToolbarButtonModel> buttons = new List<PageToolbarButtonModel>();
       
    buttons.Add(new PageToolbarButtonModel
    {
        Type = PageToolbarButtonType.Custom,
        OnClick = "MC.GlobalSettings.WelcomePage.GenerateVideoThumbnails()",
        Label = "Generate video thumbnails",
        CssClass = "btnGenerateThumbnails",
        Privilege = PrivilegeType.System
    });

    buttons.Add(new PageToolbarButtonModel
    {
        Type = PageToolbarButtonType.Save,
        OnClick = "MC.GlobalSettings.WelcomePage.SaveWelcomePage()",
        Privilege = PrivilegeType.System
    });
        
    buttons.Add(new PageToolbarButtonModel
    {
        Type = PageToolbarButtonType.Reload
    });
    
    @Html.RenderPageToolbar(buttons)
}

<script>
    MC.util.loadScript({
        test: MC.GlobalSettings && MC.GlobalSettings.WelcomePage,
        url: '@Scripts.Url("~/bundles/globalsettings/welcomepage")',
        callback: function () {
            MC.GlobalSettings.WelcomePage.Initial({
                SaveVideoThumbnailUri: '@Url.Action("SaveVideoThumbnail", "GlobalSettings")',
                WelcomeData: @Html.Raw(Json.Encode(Model)),
                VideosNoThumbnailData: @Html.Raw(Json.Encode(ViewBag.VideosNoThumbnail))
            });
        }
    });
</script>

<form action="@Url.Action("SaveWelcomePage", "GlobalSettings", new { lang = "en" })" data-role="validator" enctype="multipart/form-data" id="WelcomPageForm" method="post">
    <div class="content pageWelcome">

        <div class="contentSection contentSectionInfo">
            <h2>@Resource.Language</h2>
            <div class="contentSectionInfoItem">
                <label>@Resource.Select @Resource.Language</label>
                <p>
                    <select id="SelectWelcomeLanguage" onchange="MC.GlobalSettings.WelcomePage.ChangeWelcomeLanguage(this)" data-default="en">
                        @foreach (var language in ViewBag.EnabledLanguages as List<Tuple<string, string, int>>)
                        { <option value="@language.Item1">@language.Item2</option> }
                    </select>
                </p>
            </div>
        </div>

        <div class="imageAndTextSection">
            <div class="contentSection contentSectionWelcomeLogo">
                <h2>@Resource.MC_UploadCustomerLogo</h2>
                <div class="contentSectionWelcomeLogoItem">
                    <img src="@ViewBag.CompanyLogoUrl" data-default="@ViewBag.CompanyLogoDefaultUrl" alt="Customer logo" id="CompanyLogoPreview" />
                    <div class="k-widget k-upload">
                        <div class="k-upload-button">
                            <input type="file" id="companyLogo" name="file" title="Upload logo" onchange="MC.GlobalSettings.WelcomePage.ShowLogoPreview(event)" data-rule-extension="jpg|jpeg|png" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="contentSection contentSectionWelcomeDetail1">
                <h2>@Resource.Textbox1</h2>
                <div class="contentSectionWelcomeDetail1Item">
                    @(
                        Html.Kendo().Editor()
                            .Name("IntroductionText")
                            .Resizable(resizable => resizable.Content(true))
                            .HtmlAttributes(new { maxlength = 1048576 })
                            .Tools(tools => tools
                                .Clear()
                                .Formatting()
                                .Bold().Italic().Underline()
                                .JustifyLeft().JustifyCenter().JustifyRight()
                                .InsertUnorderedList().InsertOrderedList()
                                .Outdent().Indent()
                                .CreateLink().Unlink()
                                .InsertImage()
                                .TableEditing()
                            )
                    )
                </div>
            </div>
        </div>

        <div class="newsSection">
            <div class="row">
                <div class="column6 columnExtraLarge3">
                    <div class="contentSection">
                        <h2>@Resource.WelcomeMessages</h2>

                        <div class="columnContent contentSectionWelcomeDetail2Item">
                            @(
                                Html.Kendo().Editor()
                                    .Name("NewsText")
                                    .HtmlAttributes(new { maxlength = 1048576, style = "height: 100%" })
                                    .Tools(tools => tools
                                        .Clear()
                                        .Formatting()
                                        .Bold().Italic().Underline()
                                        .JustifyLeft().JustifyCenter().JustifyRight()
                                        .InsertUnorderedList().InsertOrderedList()
                                        .Outdent().Indent()
                                        .CreateLink().Unlink()
                                        .InsertImage()
                                        .TableEditing()
                                    )
                            )
                        </div>
                    </div>
                </div>

                <div class="column6 columnExtraLarge3">
                    <div class="contentSection">
                        <h2>@Resource.NotificationsFeed_Updates</h2>
                        <div class="columnContent contentSectionWelcomeMovieItem">
                            <div class="contentSectionWelcomePreviewModule"></div>
                        </div>
                    </div>
                </div>

                <div class="column12 columnExtraLarge6">
                    <div class="contentSection">
                        <h2>@Resource.Training @Resource.Movies</h2>
                        <div class="columnContent contentSectionWelcomeMovieItem">
                            <div class="contentSectionWelcomePreviewModule"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <input type="hidden" id="WebclientsettingsData" name="WebclientsettingsData" value="" />
</form>
